@font-face {
  font-family: Relative;
  src: url(./Relative-Bold.ttf);
}
@font-face {
  font-family: Relative;
  src: url(./Relative-Medium.ttf);
}

.relative-font-medium {
  font-family: Relative;
}
.relative-font-bold {
  font-family: Relative;
}
